---
import Layout from '@/layouts/Layout.astro';

import Vote from '@/sections/Vote.astro';
import Hero from '@/sections/Hero.astro';
import Footer from '@/sections/Footer.astro';
import Countdown from '@/sections/Countdown.astro';
import Auth from '@/sections/Auth.astro';
---

<Layout title="La Velada IV - Apuestas">
	<Hero/>
	<main>
		<Countdown/>
		<Auth/>
		<Vote/>
	</main>
	<Footer>
</Layout>
