---
import Layout from '../layouts/Layout.astro';

import Vote from '../sections/Vote.astro';
import Hero from '../sections/Hero.astro';
---

<Layout title="La Velada IV - Apuestas">
	<!-- <Menu/> -->
	<Hero/>
	<main>
		<Vote/>
	</main>
	<!-- <Footer/> -->
</Layout>
