---
interface Props {
	title: string;
	url_1: string;
	url_2: string;
}

const { title, url_1, url_2 } = Astro.props;
---

<section class="animate-fade-in animate-delay-[1s]">
	<div class="flex justify-center">
		<h2 class="text-center pt-3 font-bold text-primary border-b-2 border-primary">
			{title}
		</h2>
	</div>
	<ul class="flex flex-auto border-primary border-b-2">
		<li class="w-full sm:w-1/2 xl:w-1/2 overflow-hidden">
			<a href="#">
				<img 
					class="w-full h-full pt-8 rounded hover:scale-110 transition-all ease-in-out duration-500 opacity-90 hover:opacity-100" 
					src={url_1} 
					alt="Boxeador 1"
				>
			</a>
		</li>
		<!--TODO - UsersVote (images of the users who voted for this boxer) -->
		<!--<li class="absolute left-1/2 xl:left-auto transform -translate-x-1/2 sm:static">
			<img 
					src="vs.png"
					alt="vs"
				>
		</li>-->
		<li class="w-full sm:w-1/2 xl:w-1/2 overflow-hidden">
			<a href="#">
				<img 
					class="w-full h-full pt-8 rounded hover:scale-110 transition-all ease-in-out duration-500 opacity-90 hover:opacity-100" 
					src={url_2} 
					alt="Boxeador 2"
				>
			</a>
		</li>
		<!--TODO - UsersVote (images of the users who voted for this boxer) -->
	</ul>
</section>
<style>
	h2 {
		color: text-primary;
		font-size: 1.25rem;
		text-align: center;
	}
</style>
