---
interface Props {
	title: string;
	url_1:string;
	url_2:string;
}

const { title, url_1, url_2 } = Astro.props;
---

<section class="link-card animate-fade-in animate-delay-[2s]">
	<h2 class="col-span-full text-center pt-3 pb-3 font-bold">
		{title}
	</h2>
	<ul class="flex flex-auto">
		<li class="w-full sm:w-1/2 xl:w-1/2 overflow-hidden">
			<a href="#">
				<img 
					class="w-full h-full pt-8 rounded hover:scale-110 transition-all ease-in-out duration-500 opacity-60 hover:opacity-100" 
					src={url_1} 
					alt="Boxeador 1"
				>
			</a>
		</li>
		<!--<li class="absolute left-1/2 xl:left-auto transform -translate-x-1/2 sm:static">
			<img 
					src="vs.png"
					alt="vs"
				>
		</li>-->
		<li class="w-full sm:w-1/2 xl:w-1/2 overflow-hidden">
			<a href="#">
				<img 
					class="w-full h-full pt-8 rounded hover:scale-110 transition-all ease-in-out duration-500 opacity-60 hover:opacity-100" 
					src={url_2} 
					alt="Boxeador 2"
				>
			</a>
		</li>
	</ul>
</section>
<style>
	.link-card {
		padding: 1px;
		background-color: #23262d;
		border-radius: 7px;
	}
	h2 {
		font-size: 1.25rem;
		text-align: center;
		transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	}
</style>
