---
import ThemeToggle from "@/components/ThemeToggle.astro"
---

<footer class="w-full flex flex-col md:flex-row place-items-center md:justify-between pb-10 pt-5 animate-fade-in animate-duration-1000">
  <span class="text-primary text-center font-sans">
    2024 Votaciones La Velada del Año <span
      aria-hidden="true"
      class="hidden md:inline">|</span
    ><br aria-hidden="true" class="block md:hidden" /> 
    Hecho por <a href="https://github.com/enac21">@enac21</a>
  </span>
  <span
    aria-hidden="true"
    class="md:hidden border-primary border-t-2 w-full mt-6 pt-6"></span>

  <nav>
    <ul class="flex flex-row gap-x-6 items-center" aria-label="dark mode button">
      <li>
        <ThemeToggle/>
      </li>
    </ul>
  </nav>
</footer>