---
import HeroLogo from "../components/HeroLogo.astro"
---

<section class="flex flex-col place-items-center gap-4 lg:gap-9 my-10">
	<span
		class="bg-primary px-3 py-0.5 text-base font-bold uppercase text-secondary animate-fade-in-up animate-duration-1000 md:px-6 md:py-1 lg:text-xl"
		aria-hidden="true"
	>
		Votaciones de la
	</span>
	<HeroLogo class="h-auto w-[300px] text-primary md:w-[500px]" />
</section>