---
import Card from '../components/Card.astro';
---

<section>
	<ul role="list" class="link-card-grid">
        <Card
            title="Spurs VS Luzu"
            url_1='spurs-bg.png'
            url_2='luzu-bg.png'
        />
        <Card
            title="Spurs VS Luzu"
            url_1='spurs-bg.png'
            url_2='luzu-bg.png'
        />
        <Card
            title="Spurs VS Luzu"
            url_1='spurs-bg.png'
            url_2='luzu-bg.png'
        />
        <Card
            title="Spurs VS Luzu"
            url_1='spurs-bg.png'
            url_2='luzu-bg.png'
        />
    </ul>
</section>