---
import Card from '../components/Card.astro';
---

<section>
	<ul class="link-card-grid">
        <!-- Take the info from json -->
        <Card
            title="Spurs VS Luzu"
            url_1='spurs-bg.png'
            url_2='luzu-bg.png'
        />
        <Card
            title="Spurs VS Luzu"
            url_1='spurs-bg.png'
            url_2='luzu-bg.png'
        />
        <Card
            title="Spurs VS Luzu"
            url_1='spurs-bg.png'
            url_2='luzu-bg.png'
        />
        <Card
            title="Spurs VS Luzu"
            url_1='spurs-bg.png'
            url_2='luzu-bg.png'
        />
    </ul>
</section>

<style>
    .link-card-grid {
		display: grid;
		grid-template-columns: auto;
		gap: 2rem;
		padding: 0;
		margin-bottom: 100px;
	}
</style>