---
import '@fontsource-variable/onest';

import SmokeBackground from "@/components/SmokeBackground.astro"

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<SmokeBackground/>
		<div class="mx-auto max-w-6xl px-2 pt-5 md:pt-1 lg:px-10">
			<slot />
		</div>
	</body>
</html>

<style is:global>
	:root {
		--color-primary: #0e2d32;
		--color-secondary: #d1fb01;

		--background-color: #0e2d32;
		--background-image: var(--background-color) url("/concrete-dark.png") repeat;
	}

	.dark {
		--color-primary: #d1fb01;
		--color-secondary: #0e2d32;

		--background-image: var(--color-secondary) url("/concrete-dark.png") repeat;
	}
	html {
		font-family: 'Nanum Brush Script', cursive;
		background: var(--background-image);
		scroll-behavior: smooth;
    	overflow-x: hidden;
    	overscroll-behavior: none;
	}
</style>
