---
import '@fontsource-variable/onest';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<!--<Menu/>-->
		<slot />
	</body>
</html>

<style is:global>
	:root {
		--color-primary: #ddd;
    	--color-secondary: #333;
    	--color-twitch: #a270ff;

		--background-color: var(--color-secondary);
    	--background-image: var(--background-color) url("/concrete-dark.png") repeat;
	}
	html {
		font-family: 'Onest Variable', system-ui, sans-serif;
		background: var(--background-image);
		scroll-behavior: smooth;
    	overflow-x: hidden;
		color: white;
    	overscroll-behavior: none;
	}
	svg {
		padding-top: 50px;
		align-items: center;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	main {
		margin: auto;
		padding: 1rem;
		width: 1200px;
		max-width: calc(100% - 2rem);
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1.4;
		text-align: center;
		margin-bottom: 1em;
	}
	img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 10px;
		width: 50%;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: auto;
		gap: 2rem;
		padding: 0;
		margin-bottom: 100px;
	}
</style>
